Repository aragami3070/anytype-notify, pull requests merged in 2025-07, with the labels that each got.

#22 Add connect to matrix
  .env.example
  Cargo.lock
  src/main.rs
  src/matrix/api/auth.rs
  src/matrix/api/mod.rs
  src/matrix/client.rs
  src/matrix/mod.rs
Labels: enhancement, matrix-api

#21 Feat: add objects filtering by types
  .env.example
  src/anytype/entities/api_response.rs
  src/anytype/parser.rs
  src/main.rs
Labels: enhancement, anytype-api

#28 Feat: objects caching
  src/anytype/entities/api_response.rs
  src/anytype/parser.rs
  src/anytype/sentinel.rs
Labels: enhancement, anytype-api

#32 Feat: add caching build dependencies and move to alpine system
  Dockerfile
  config.toml
  scripts/start.sh
  src/config.rs
  src/main.rs
Labels: enhancement, docker

#33 Feat: add Readme
  .env.example
  Readme.md
Labels: enhancement, good first issue
